---
import '../styles/global.css'
import PageNavigation from '../components/PageNavigation.vue'

const {title} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="Personal website of CreatorSiSo.">
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<style is:inline>
			:root {
				font-family: 'Manrope', 'Graphik', 'Arial Rounded MT Bold', 'Helvetica Rounded', 'Arial', 'sans-serif';
				font-weight: 500;
				font-size: 16px;

				color: #14171A;
				background-color: hsl(0, 0%, 98%);
			}

			@media (prefers-color-scheme: dark) {
				:root {
					color: hsl(0, 0%, 98%);
					background-color: #14171A;
				}
			}

			body {
				width: 100%;
				min-height: 100vh;
			}
		</style>
	</head>
	<body>
		<header>
			<PageNavigation />
		</header>
		<main>
			<slot />
		</main>
		<footer>
			Footer
		</footer>
	</body>
</html>
