// TODO: Consider using height: auto; for the body so that position: sticky; will work properly
:where(html, body) {
	height: 100%;
}

:where(body, p, h1, h2, h3, h4, h5, h6) {
	margin: 0;
}

:where(h1, h2, h3, h4, h5, h6) {
	font-size: inherit;
	font-weight: inherit;
}

:where(a) {
	text-decoration: none;
	color: inherit;
}
