.text_upper {
	text-transform: uppercase;
}

.text_sans {
	font-family: Manrope, Impact, Haettenschweiler, 'Arial Narrow Bold',
		sans-serif;
}

.text_mono {
	font-family: 'Red Hat Mono', monospace;
}

.text_serif {
	font-family: Cinzel, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
